{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "Computer Vision Client",
    "description": "The Computer Vision API provides state-of-the-art algorithms to process images and return information. For example, it can be used to determine if an image contains mature content, or it can be used to find all the faces in an image.  It also has other features like estimating dominant and accent colors, categorizing the content of images, and describing an image with complete English sentences.  Additionally, it can also intelligently generate images thumbnails for displaying large images effectively."
  },
  "host": "westcentralus.api.cognitive.microsoft.com",
  "basePath": "/vision/v2.0",
  "schemes": [
    "https"
  ],
  "paths": {
    "/analyze": {
      "post": {
        "description": "This operation extracts a rich set of visual features based on the image content.",
        "operationId": "AnalyzeImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/VisualFeatures"
          },
          {
            "name": "details",
            "in": "query",
            "description": "A string indicating which domain-specific details to return. Multiple values should be comma-separated. Valid visual feature types include:Celebrities - identifies celebrities if detected in the image.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Celebrities",
                "Landmarks"
              ],
              "x-nullable": false,
              "x-ms-enum": {
                "name": "Details",
                "modelAsString": false
              }
            },
            "collectionFormat": "csv"
          },
          {
            "$ref": "#/parameters/ServiceLanguage"
          },
          {
            "$ref": "#/parameters/ImageUrl"
          }
        ],
        "responses": {
          "200": {
            "description": "The response include the extracted features in JSON format.Here is the definitions for enumeration typesClipartTypeNon - clipart = 0, ambiguous = 1, normal - clipart = 2, good - clipart = 3.LineDrawingTypeNon - LineDrawing = 0, LineDrawing = 1.",
            "schema": {
              "$ref": "#/definitions/ImageAnalysis"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful AnalyzeImage request": {
            "$ref": "./examples/SuccessfulAnalyzeImageWithUrl.json"
          }
        }
      }
    },
    "/describe": {
      "post": {
        "description": "This operation generates a description of an image in human readable language with complete sentences.  The description is based on a collection of content tags, which are also returned by the operation. More than one description can be generated for each image.  Descriptions are ordered by their confidence score. All descriptions are in English. Two input methods are supported -- (1) Uploading an image or (2) specifying an image URL.A successful response will be returned in JSON.  If the request failed, the response will contain an error code and a message to help understand what went wrong.",
        "operationId": "DescribeImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "maxCandidates",
            "in": "query",
            "description": "Maximum number of candidate descriptions to be returned.  The default is 1.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "$ref": "#/parameters/ServiceLanguage"
          },
          {
            "$ref": "#/parameters/ImageUrl"
          }
        ],
        "responses": {
          "200": {
            "description": "Image description object.",
            "schema": {
              "$ref": "#/definitions/ImageDescription"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful DescribeImage request": {
            "$ref": "./examples/SuccessfulDescribeImageWithUrl.json"
          }
        }
      }
    },
    "/models": {
      "get": {
        "description": "This operation returns the list of domain-specific models that are supported by the Computer Vision API.  Currently, the API only supports one domain-specific model: a celebrity recognizer. A successful response will be returned in JSON.  If the request failed, the response will contain an error code and a message to help understand what went wrong.",
        "operationId": "ListModels",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of available domain models.",
            "schema": {
              "$ref": "#/definitions/ListModelsResult"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful ListModels request": {
            "$ref": "./examples/SuccessfulListModels.json"
          }
        }
      }
    },
    "/models/{model}/analyze": {
      "post": {
        "description": "This operation recognizes content within an image by applying a domain-specific model.  The list of domain-specific models that are supported by the Computer Vision API can be retrieved using the /models GET request.  Currently, the API only provides a single domain-specific model: celebrities. Two input methods are supported -- (1) Uploading an image or (2) specifying an image URL. A successful response will be returned in JSON.  If the request failed, the response will contain an error code and a message to help understand what went wrong.",
        "operationId": "AnalyzeImageByDomain",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "The domain-specific content to recognize.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ServiceLanguage"
          },
          {
            "$ref": "#/parameters/ImageUrl"
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis result based on the domain model",
            "schema": {
              "$ref": "#/definitions/DomainModelResults"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful AnalyzeImageByDomain request": {
            "$ref": "./examples/SuccessfulAnalyzeImageByDomainWithUrl.json"
          }
        }
      }
    },
    "/ocr": {
      "post": {
        "description": "Optical Character Recognition (OCR) detects printed text in an image and extracts the recognized characters into a machine-usable character stream.   Upon success, the OCR results will be returned. Upon failure, the error code together with an error message will be returned. The error code can be one of InvalidImageUrl, InvalidImageFormat, InvalidImageSize, NotSupportedImage,  NotSupportedLanguage, or InternalServerError.",
        "operationId": "RecognizePrintedText",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/DetectOrientation"
          },
          {
            "$ref": "#/parameters/ImageUrl"
          },
          {
            "$ref": "#/parameters/OcrLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "The OCR results in the hierarchy of region/line/word. The results include text, bounding box for regions, lines and words. The angle, in degrees, of the detected text with respect to the closest horizontal or vertical direction. After rotating the input image clockwise by this angle, the recognized text lines become horizontal or vertical. In combination with the orientation property it can be used to overlay recognition results correctly on the original image, by rotating either the original image or recognition results by a suitable angle around the center of the original image. If the angle cannot be confidently detected, this property is not present. If the image contains text at different angles, only part of the text will be recognized correctly.",
            "schema": {
              "$ref": "#/definitions/OcrResult"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful RecognizePrintedText request": {
            "$ref": "./examples/SuccessfulRecognizePrintedTextWithUrl.json"
          }
        }
      }
    },
    "/tag": {
      "post": {
        "description": "This operation generates a list of words, or tags, that are relevant to the content of the supplied image. The Computer Vision API can return tags based on objects, living beings, scenery or actions found in images. Unlike categories, tags are not organized according to a hierarchical classification system, but correspond to image content. Tags may contain hints to avoid ambiguity or provide context, for example the tag 'cello' may be accompanied by the hint 'musical instrument'. All tags are in English.",
        "operationId": "TagImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ServiceLanguage"
          },
          {
            "$ref": "#/parameters/ImageUrl"
          }
        ],
        "responses": {
          "200": {
            "description": "Image tags object.",
            "schema": {
              "$ref": "#/definitions/TagResult"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful TagImage request": {
            "$ref": "./examples/SuccessfulTagImageWithUrl.json"
          }
        }
      }
    },
    "/generateThumbnail": {
      "post": {
        "description": "This operation generates a thumbnail image with the user-specified width and height. By default, the service analyzes the image, identifies the region of interest (ROI), and generates smart cropping coordinates based on the ROI. Smart cropping helps when you specify an aspect ratio that differs from that of the input image. A successful response contains the thumbnail image binary. If the request failed, the response contains an error code and a message to help determine what went wrong.",
        "operationId": "GenerateThumbnail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "width",
            "in": "query",
            "description": "Width of the thumbnail, in pixels. It must be between 1 and 1024. Recommended minimum of 50.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "maximum": 1023,
            "minimum": 1
          },
          {
            "name": "height",
            "in": "query",
            "description": "Height of the thumbnail, in pixels. It must be between 1 and 1024. Recommended minimum of 50.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "maximum": 1023,
            "minimum": 1
          },
          {
            "$ref": "#/parameters/ImageUrl"
          },
          {
            "name": "smartCropping",
            "in": "query",
            "description": "Boolean flag for enabling smart cropping.",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "The generated thumbnail in binary format.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GenerateThumbnail request": {
            "$ref": "./examples/SuccessfulGenerateThumbnailWithUrl.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ImageAnalysis": {
      "description": "Result of AnalyzeImage operation.",
      "type": "object",
      "properties": {
        "categories": {
          "description": "An array indicating identified categories.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Category"
          }
        },
        "tags": {
          "description": "A list of tags with confidence level.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageTag"
          }
        },
        "description": {
          "$ref": "#/definitions/Description",
          "description": "A collection of content tags, along with a list of captions sorted by confidence level, and image metadata."
        },
        "faces": {
          "description": "An array of possible faces within the image.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FaceDescription"
          }
        },
        "adult": {
          "$ref": "#/definitions/AdultInfo",
          "description": "An object describing whether the image contains adult-oriented content and/or is racy."
        },
        "color": {
          "$ref": "#/definitions/ColorInfo",
          "description": "An object providing additional metadata describing color attributes."
        },
        "imageType": {
          "$ref": "#/definitions/ImageType",
          "description": "An object providing possible image types and matching confidence levels."
        },
        "objects": {
          "description": "Array of objects describing what was detected in the image.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DetectedObject"
          }
        },
        "requestId": {
          "description": "Id of the REST API request.",
          "type": "string"
        },
        "metadata": {
          "$ref": "#/definitions/ImageMetadata"
        }
      }
    },
    "Category": {
      "description": "An object describing identified category.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the category.",
          "type": "string"
        },
        "score": {
          "format": "double",
          "description": "Scoring of the category.",
          "type": "number"
        },
        "detail": {
          "$ref": "#/definitions/CategoryDetail",
          "description": "Details of the identified category."
        }
      }
    },
    "ImageTag": {
      "description": "An image caption, i.e. a brief description of what the image depicts.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The tag value.",
          "type": "string"
        },
        "confidence": {
          "format": "double",
          "description": "The level of confidence the service has in the caption.",
          "type": "number"
        },
        "hint": {
          "description": "Optional categorization for the tag.",
          "type": "string"
        }
      }
    },
    "FaceDescription": {
      "description": "An object describing a face identified in the image.",
      "type": "object",
      "properties": {
        "age": {
          "format": "int32",
          "description": "Possible age of the face.",
          "type": "integer"
        },
        "gender": {
          "description": "Possible gender of the face.",
          "enum": [
            "Male",
            "Female"
          ],
          "type": "string"
        },
        "faceRectangle": {
          "$ref": "#/definitions/FaceRectangle",
          "description": "Rectangle in the image containing the identified face."
        }
      }
    },
    "AdultInfo": {
      "description": "An object describing whether the image contains adult-oriented content and/or is racy.",
      "type": "object",
      "properties": {
        "isAdultContent": {
          "description": "A value indicating if the image contains adult-oriented content.",
          "type": "boolean"
        },
        "adultScore": {
          "format": "double",
          "description": "Score from 0 to 1 that indicates how much the content is considered adult-oriented within the image.",
          "type": "number"
        },
        "isRacyContent": {
          "description": "A value indicating if the image is racy.",
          "type": "boolean"
        },
        "racyScore": {
          "format": "double",
          "description": "Score from 0 to 1 that indicates how suggestive is the image.",
          "type": "number"
        }
      }
    },
    "ColorInfo": {
      "description": "An object providing additional metadata describing color attributes.",
      "type": "object",
      "properties": {
        "dominantColorForeground": {
          "description": "Possible dominant foreground color.",
          "type": "string"
        },
        "dominantColorBackground": {
          "description": "Possible dominant background color.",
          "type": "string"
        },
        "dominantColors": {
          "description": "An array of possible dominant colors.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accentColor": {
          "description": "Possible accent color.",
          "type": "string"
        },
        "isBWImg": {
          "description": "A value indicating if the image is black and white.",
          "type": "boolean"
        }
      }
    },
    "ImageType": {
      "description": "An object providing possible image types and matching confidence levels.",
      "type": "object",
      "properties": {
        "clipArtType": {
          "format": "int32",
          "description": "Confidence level that the image is a clip art.",
          "type": "integer"
        },
        "lineDrawingType": {
          "format": "int32",
          "description": "Confidence level that the image is a line drawing.",
          "type": "integer"
        }
      }
    },
    "ImageMetadata": {
      "description": "Image metadata.",
      "type": "object",
      "properties": {
        "height": {
          "format": "int32",
          "description": "Image height, in pixels.",
          "type": "integer"
        },
        "width": {
          "format": "int32",
          "description": "Image width, in pixels.",
          "type": "integer"
        },
        "format": {
          "description": "Image format.",
          "type": "string"
        }
      }
    },
    "CategoryDetail": {
      "description": "An object describing additional category details.",
      "type": "object",
      "properties": {
        "celebrities": {
          "description": "An array of celebrities if any identified.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CelebritiesModel"
          }
        },
        "landmarks": {
          "description": "An array of landmarks if any identified.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LandmarksModel"
          }
        }
      }
    },
    "FaceRectangle": {
      "description": "An object describing face rectangle.",
      "type": "object",
      "properties": {
        "top": {
          "format": "int32",
          "description": "Y-coordinate of the top left point of the face, in pixels.",
          "type": "integer"
        },
        "left": {
          "format": "int32",
          "description": "X-coordinate of the top left point of the face, in pixels.",
          "type": "integer"
        },
        "width": {
          "format": "int32",
          "description": "Width measured from the top-left point of the face, in pixels.",
          "type": "integer"
        },
        "height": {
          "format": "int32",
          "description": "Height measured from the top-left point of the face, in pixels.",
          "type": "integer"
        }
      }
    },
    "CelebritiesModel": {
      "description": "An object describing possible celebrity identification.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the celebrity.",
          "type": "string"
        },
        "confidence": {
          "format": "double",
          "description": "Confidence level for the celebrity recognition as a value ranging from 0 to 1.",
          "type": "number"
        },
        "faceRectangle": {
          "$ref": "#/definitions/FaceRectangle",
          "description": "Location of the identified face in the image."
        }
      }
    },
    "LandmarksModel": {
      "description": "A landmark recognized in the image.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the landmark.",
          "type": "string"
        },
        "confidence": {
          "format": "double",
          "description": "Confidence level for the landmark recognition as a value ranging from 0 to 1.",
          "type": "number"
        }
      }
    },
    "ImageDescription": {
      "description": "A collection of content tags, along with a list of captions sorted by confidence level, and image metadata.",
      "type": "object",
      "properties": {
        "description": {
          "$ref": "#/definitions/ImageDescriptionDetails",
          "description": "A collection of content tags, along with a list of captions sorted by confidence level, and image metadata.",
          "x-ms-client-flatten": true
        },
        "requestId": {
          "description": "Id of the REST API request.",
          "type": "string"
        },
        "metadata": {
          "$ref": "#/definitions/ImageMetadata"
        }
      }
    },
    "ImageDescriptionDetails": {
      "description": "A collection of content tags, along with a list of captions sorted by confidence level, and image metadata.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "A collection of image tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "captions": {
          "description": "A list of captions, sorted by confidence level.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageCaption"
          }
        }
      }
    },
    "ImageCaption": {
      "description": "An image caption, i.e. a brief description of what the image depicts.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of the caption.",
          "type": "string"
        },
        "confidence": {
          "format": "double",
          "description": "The level of confidence the service has in the caption.",
          "type": "number"
        }
      }
    },
    "ListModelsResult": {
      "description": "Result of the List Domain Models operation.",
      "type": "object",
      "properties": {
        "models": {
          "description": "An array of supported models.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ModelDescription"
          }
        }
      }
    },
    "ModelDescription": {
      "description": "An object describing supported model by name and categories.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the model.",
          "type": "string"
        },
        "categories": {
          "description": "Categories of the model.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DomainModelResults": {
      "description": "Result of image analysis using a specific domain model including additional metadata.",
      "type": "object",
      "properties": {
        "result": {
          "description": "Model-specific response.",
          "type": "object",
          "x-ms-client-flatten": true
        },
        "requestId": {
          "description": "Id of the REST API request.",
          "type": "string"
        },
        "metadata": {
          "$ref": "#/definitions/ImageMetadata"
        }
      }
    },
    "OcrResult": {
      "type": "object",
      "properties": {
        "language": {
          "description": "The BCP-47 language code of the text in the image.",
          "type": "string"
        },
        "orientation": {
          "description": "Orientation of the text recognized in the image. The value (up, down, left, or right) refers to the direction that the top of the recognized text is facing, after the image has been rotated around its center according to the detected text angle (see textAngle property).",
          "type": "string"
        },
        "textAngle": {
          "format": "double",
          "description": "The angle, in degrees, of the detected text with respect to the closest horizontal or vertical direction. After rotating the input image clockwise by this angle, the recognized text lines become horizontal or vertical. In combination with the orientation property it can be used to overlay recognition results correctly on the original image, by rotating either the original image or recognition results by a suitable angle around the center of the original image. If the angle cannot be confidently detected, this property is not present. If the image contains text at different angles, only part of the text will be recognized correctly.",
          "type": "number"
        },
        "regions": {
          "description": "An array of objects, where each object represents a region of recognized text.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OcrRegion"
          }
        }
      }
    },
    "OcrRegion": {
      "description": "A region consists of multiple lines (e.g. a column of text in a multi-column document).",
      "type": "object",
      "properties": {
        "boundingBox": {
          "description": "Bounding box of a recognized region. The four integers represent the x-coordinate of the left edge, the y-coordinate of the top edge, width, and height of the bounding box, in the coordinate system of the input image, after it has been rotated around its center according to the detected text angle (see textAngle property), with the origin at the top-left corner, and the y-axis pointing down.",
          "type": "string"
        },
        "lines": {
          "description": "An array of recognized lines of text.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OcrLine"
          }
        }
      }
    },
    "OcrLine": {
      "description": "An object describing a single recognized line of text.",
      "type": "object",
      "properties": {
        "boundingBox": {
          "description": "Bounding box of a recognized line. The four integers represent the x-coordinate of the left edge, the y-coordinate of the top edge, width, and height of the bounding box, in the coordinate system of the input image, after it has been rotated around its center according to the detected text angle (see textAngle property), with the origin at the top-left corner, and the y-axis pointing down.",
          "type": "string"
        },
        "words": {
          "description": "An array of objects, where each object represents a recognized word.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OcrWord"
          }
        }
      }
    },
    "OcrWord": {
      "description": "Information on a recognized word.",
      "type": "object",
      "properties": {
        "boundingBox": {
          "description": "Bounding box of a recognized word. The four integers represent the x-coordinate of the left edge, the y-coordinate of the top edge, width, and height of the bounding box, in the coordinate system of the input image, after it has been rotated around its center according to the detected text angle (see textAngle property), with the origin at the top-left corner, and the y-axis pointing down.",
          "type": "string"
        },
        "text": {
          "description": "String value of a recognized word.",
          "type": "string"
        }
      }
    },
    "TagResult": {
      "description": "The results of a image tag operation, including any tags and image metadata.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "A list of tags with confidence level.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageTag"
          }
        },
        "requestId": {
          "description": "Id of the REST API request.",
          "type": "string"
        },
        "metadata": {
          "$ref": "#/definitions/ImageMetadata"
        }
      }
    },
    "ComputerVisionError": {
      "required": [
        "code",
        "message"
      ],
      "type": "object",
      "properties": {
        "code": {
          "description": "The error code.",
          "enum": [
            "InvalidImageFormat",
            "UnsupportedMediaType",
            "InvalidImageUrl",
            "NotSupportedFeature",
            "NotSupportedImage",
            "Timeout",
            "InternalServerError",
            "InvalidImageSize",
            "BadArgument",
            "DetectFaceError",
            "NotSupportedLanguage",
            "InvalidThumbnailSize",
            "InvalidDetails",
            "InvalidModel",
            "CancelledRequest"
          ],
          "x-ms-enum": {
            "name": "ComputerVisionErrorCodes",
            "modelAsString": false
          }
        },
        "message": {
          "description": "A message explaining the error reported by the service.",
          "type": "string"
        },
        "requestId": {
          "description": "A unique request identifier.",
          "type": "string"
        }
      }
    },
    "LandmarkResults": {
      "description": "List of landmarks recognized in the image.",
      "type": "object",
      "properties": {
        "landmarks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LandmarksModel"
          }
        },
        "requestId": {
          "description": "Id of the REST API request.",
          "type": "string"
        },
        "metadata": {
          "$ref": "#/definitions/ImageMetadata"
        }
      }
    },
    "CelebrityResults": {
      "description": "List of celebrities recognized in the image.",
      "type": "object",
      "properties": {
        "celebrities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CelebritiesModel"
          }
        },
        "requestId": {
          "description": "Id of the REST API request.",
          "type": "string"
        },
        "metadata": {
          "$ref": "#/definitions/ImageMetadata"
        }
      }
    }
  },
  "parameters": {
    "Endpoint": {
      "name": "Endpoint",
      "in": "path",
      "description": "Supported Cognitive Services endpoints.",
      "required": true,
      "type": "string",
      "x-ms-parameterized-host": "client",
      "x-ms-skip-url-encoding": true
    },
    "ImageStream": {
      "name": "Image",
      "in": "body",
      "description": "An image stream.",
      "required": true,
      "schema": {
        "format": "file",
        "type": "object"
      },
      "x-ms-parameter-location": "method"
    },
    "ImageUrl": {
      "name": "ImageUrl",
      "in": "body",
      "description": "A JSON document with a URL pointing to the image that is to be analyzed.",
      "required": true,
      "schema": {
        "required": [
          "url"
        ],
        "type": "object",
        "properties": {
          "url": {
            "description": "Publicly reachable URL of an image.",
            "type": "string"
          }
        }
      },
      "x-ms-parameter-location": "method",
      "x-ms-client-flatten": true
    },
    "ServiceLanguage": {
      "name": "language",
      "in": "query",
      "description": "The desired language for output generation. If this parameter is not specified, the default value is &quot;en&quot;.Supported languages:en - English, Default. es - Spanish, ja - Japanese, pt - Portuguese, zh - Simplified Chinese.",
      "required": false,
      "type": "string",
      "default": "en",
      "enum": [
        "en",
        "es",
        "ja",
        "pt",
        "zh"
      ],
      "x-ms-parameter-location": "method",
      "x-nullable": false
    },
    "OcrLanguage": {
      "name": "language",
      "in": "query",
      "description": "The BCP-47 language code of the text to be detected in the image. The default value is 'unk'.",
      "required": false,
      "type": "string",
      "default": "unk",
      "enum": [
        "unk",
        "zh-Hans",
        "zh-Hant",
        "cs",
        "da",
        "nl",
        "en",
        "fi",
        "fr",
        "de",
        "el",
        "hu",
        "it",
        "ja",
        "ko",
        "nb",
        "pl",
        "pt",
        "ru",
        "es",
        "sv",
        "tr",
        "ar",
        "ro",
        "sr-Cyrl",
        "sr-Latn",
        "sk"
      ],
      "x-ms-parameter-location": "method",
      "x-nullable": false,
      "x-ms-enum": {
        "name": "OcrLanguages",
        "modelAsString": false
      }
    },
    "VisualFeatures": {
      "name": "visualFeatures",
      "in": "query",
      "description": "A string indicating what visual feature types to return. Multiple values should be comma-separated. Valid visual feature types include: Categories - categorizes image content according to a taxonomy defined in documentation. Tags - tags the image with a detailed list of words related to the image content. Description - describes the image content with a complete English sentence. Faces - detects if faces are present. If present, generate coordinates, gender and age. ImageType - detects if image is clipart or a line drawing. Color - determines the accent color, dominant color, and whether an image is black&white.Adult - detects if the image is pornographic in nature (depicts nudity or a sex act).  Sexually suggestive content is also detected.",
      "required": false,
      "type": "array",
      "items": {
        "type": "string",
        "enum": [
          "Categories",
          "Tags",
          "Description",
          "Faces",
          "ImageType",
          "Color",
          "Adult",
          "Objects"
        ],
        "x-nullable": false,
        "x-ms-enum": {
          "name": "VisualFeatureTypes",
          "modelAsString": false
        }
      },
      "collectionFormat": "csv",
      "x-ms-parameter-location": "method"
    },
    "DetectOrientation": {
      "name": "detectOrientation",
      "in": "query",
      "description": "Whether detect the text orientation in the image. With detectOrientation=true the OCR service tries to detect the image orientation and correct it before further processing (e.g. if it's upside-down). ",
      "required": true,
      "type": "boolean",
      "default": true,
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "apim_key": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "apim_key": []
    }
  ],
  "x-ms-parameterized-host": {
    "hostTemplate": "{Endpoint}",
    "useSchemePrefix": false,
    "parameters": [
      {
        "$ref": "#/parameters/Endpoint"
      }
    ]
  },
  "x-ms-paths": {
    "/analyze?overload=stream": {
      "post": {
        "description": "This operation extracts a rich set of visual features based on the image content.",
        "operationId": "AnalyzeImageInStream",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/VisualFeatures"
          },
          {
            "name": "details",
            "in": "query",
            "description": "A string indicating which domain-specific details to return. Multiple values should be comma-separated. Valid visual feature types include:Celebrities - identifies celebrities if detected in the image.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Celebrities",
                "Landmarks"
              ],
              "x-nullable": false,
              "x-ms-enum": {
                "name": "Details",
                "modelAsString": false
              }
            },
            "collectionFormat": "csv"
          },
          {
            "$ref": "#/parameters/ServiceLanguage"
          },
          {
            "$ref": "#/parameters/ImageStream"
          }
        ],
        "responses": {
          "200": {
            "description": "The response include the extracted features in JSON format.Here is the definitions for enumeration typesClipartTypeNon - clipart = 0, ambiguous = 1, normal - clipart = 2, good - clipart = 3.LineDrawingTypeNon - LineDrawing = 0, LineDrawing = 1.",
            "schema": {
              "$ref": "#/definitions/ImageAnalysis"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful AnalyzeImage request": {
            "$ref": "./examples/SuccessfulAnalyzeImageWithStream.json"
          }
        }
      }
    },
    "/describe?overload=stream": {
      "post": {
        "description": "This operation generates a description of an image in human readable language with complete sentences.  The description is based on a collection of content tags, which are also returned by the operation. More than one description can be generated for each image.  Descriptions are ordered by their confidence score. All descriptions are in English. Two input methods are supported -- (1) Uploading an image or (2) specifying an image URL.A successful response will be returned in JSON.  If the request failed, the response will contain an error code and a message to help understand what went wrong.",
        "operationId": "DescribeImageInStream",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "maxCandidates",
            "in": "query",
            "description": "Maximum number of candidate descriptions to be returned.  The default is 1.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "$ref": "#/parameters/ServiceLanguage"
          },
          {
            "$ref": "#/parameters/ImageStream"
          }
        ],
        "responses": {
          "200": {
            "description": "Image description object.",
            "schema": {
              "$ref": "#/definitions/ImageDescription"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful DescribeImage request": {
            "$ref": "./examples/SuccessfulDescribeImageWithStream.json"
          }
        }
      }
    },
    "/generateThumbnail?overload=stream": {
      "post": {
        "description": "This operation generates a thumbnail image with the user-specified width and height. By default, the service analyzes the image, identifies the region of interest (ROI), and generates smart cropping coordinates based on the ROI. Smart cropping helps when you specify an aspect ratio that differs from that of the input image. A successful response contains the thumbnail image binary. If the request failed, the response contains an error code and a message to help determine what went wrong.",
        "operationId": "GenerateThumbnailInStream",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "width",
            "in": "query",
            "description": "Width of the thumbnail, in pixels. It must be between 1 and 1024. Recommended minimum of 50.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "maximum": 1023,
            "minimum": 1
          },
          {
            "name": "height",
            "in": "query",
            "description": "Height of the thumbnail, in pixels. It must be between 1 and 1024. Recommended minimum of 50.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "maximum": 1023,
            "minimum": 1
          },
          {
            "$ref": "#/parameters/ImageStream"
          },
          {
            "name": "smartCropping",
            "in": "query",
            "description": "Boolean flag for enabling smart cropping.",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "The generated thumbnail in binary format.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful GenerateThumbnail request": {
            "$ref": "./examples/SuccessfulGenerateThumbnailWithStream.json"
          }
        }
      }
    },
    "/models/{model}/analyze?overload=stream": {
      "post": {
        "description": "This operation recognizes content within an image by applying a domain-specific model.  The list of domain-specific models that are supported by the Computer Vision API can be retrieved using the /models GET request.  Currently, the API only provides a single domain-specific model: celebrities. Two input methods are supported -- (1) Uploading an image or (2) specifying an image URL. A successful response will be returned in JSON.  If the request failed, the response will contain an error code and a message to help understand what went wrong.",
        "operationId": "AnalyzeImageByDomainInStream",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "The domain-specific content to recognize.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ServiceLanguage"
          },
          {
            "$ref": "#/parameters/ImageStream"
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis result based on the domain model",
            "schema": {
              "$ref": "#/definitions/DomainModelResults"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful AnalyzeImageByDomain request": {
            "$ref": "./examples/SuccessfulAnalyzeImageByDomainWithStream.json"
          }
        }
      }
    },
    "/ocr?overload=stream": {
      "post": {
        "description": "Optical Character Recognition (OCR) detects printed text in an image and extracts the recognized characters into a machine-usable character stream.   Upon success, the OCR results will be returned. Upon failure, the error code together with an error message will be returned. The error code can be one of InvalidImageUrl, InvalidImageFormat, InvalidImageSize, NotSupportedImage,  NotSupportedLanguage, or InternalServerError.",
        "operationId": "RecognizePrintedTextInStream",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/DetectOrientation"
          },
          {
            "$ref": "#/parameters/ImageStream"
          },
          {
            "$ref": "#/parameters/OcrLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "The OCR results in the hierarchy of region/line/word. The results include text, bounding box for regions, lines and words. The angle, in degrees, of the detected text with respect to the closest horizontal or vertical direction. After rotating the input image clockwise by this angle, the recognized text lines become horizontal or vertical. In combination with the orientation property it can be used to overlay recognition results correctly on the original image, by rotating either the original image or recognition results by a suitable angle around the center of the original image. If the angle cannot be confidently detected, this property is not present. If the image contains text at different angles, only part of the text will be recognized correctly.",
            "schema": {
              "$ref": "#/definitions/OcrResult"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful RecognizePrintedText request": {
            "$ref": "./examples/SuccessfulRecognizePrintedTextWithStream.json"
          }
        }
      }
    },
    "/tag?overload=stream": {
      "post": {
        "description": "This operation generates a list of words, or tags, that are relevant to the content of the supplied image. The Computer Vision API can return tags based on objects, living beings, scenery or actions found in images. Unlike categories, tags are not organized according to a hierarchical classification system, but correspond to image content. Tags may contain hints to avoid ambiguity or provide context, for example the tag 'cello' may be accompanied by the hint 'musical instrument'. All tags are in English.",
        "operationId": "TagImageInStream",
        "consumes": [
          "application/octet-stream",
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ServiceLanguage"
          },
          {
            "$ref": "#/parameters/ImageStream"
          }
        ],
        "responses": {
          "200": {
            "description": "Image tags object.",
            "schema": {
              "$ref": "#/definitions/TagResult"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful TagImage request": {
            "$ref": "./examples/SuccessfulTagImageWithStream.json"
          }
        }
      }
    }
  }
}